* {
  box-sizing: border-box;
  list-style: none;
}

header {
  background-color: rgb(0, 194, 194);
  position: fixed;
  z-index: 10;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

.header-contents {
  display: flex;
  align-items: center;
}

.header-contents a {
  color: black;
  font-size: 20px;
  padding: 20px ;
  font-family: fantasy;
  display: inline-block;
}

.header-content {
  display: flex;
}

.header-content a {
  color: white;
  font-size: 14px;
  font-family: monospace;
  position: relative;
  display: inline-block;
}

.header-content a::after {
  position: absolute;
  bottom: 3px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform .3s;
}

.header-content a:hover::after {
  transform: scale(1,1);
}

.main-top {
  text-align: center;
  position: relative;
}

.main-top img {
  width: 100%;
  height: 400px;
}

.main-top h1 {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 22%;
}

.profile {
  padding-bottom: 30px;
}

.main-header {
  text-align: center;
  font-size: 36px;
  font-family: serif;
  padding: 30px 0;
}

.profile-contents {
  justify-content: center;
  display: flex;
  align-items: center;
}

.profile-contents img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 30px;
}

.profile-contents td {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
}

.skill {
  background-color: rgb(240, 240, 240);
}

.skill-contents {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.skill-contents img {
  width: 160px;
  height: 160px;
  margin: 0 20px;
}

.service-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.service-contents img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.service-text {
  padding: 0 20px;
  line-height: 30px;
}

.portfolio {
  background-color:rgb(240, 240, 240);
  padding-bottom: 30px;
}

.portfolio-contents {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.portfolio-content {
  display: inline-block;
  line-height: 26px;
  width: 320px;
  padding: 0 30px;
}

.portfolio-content:nth-of-type(1) , 
.portfolio-content:nth-of-type(2) {
  border-right: 1px solid rgb(209, 209, 209);
}

.portfolio-content img {
  width: 260px;
  height: 200px;
  border-radius: 5px;
}

.portfolio-content a {
  text-decoration: none;
  color: black;
}

.portfolio-content a:hover {
  text-decoration: underline;
}

.portfolio-content h2 {
  font-size: 20px;
}

.portfolio-content p {
  font-size: 12px;
}

.sns {
  text-align: center;
}

.sns-contents {
  display: flex;
  justify-content: center;
}

.sns-content {
  padding: 20px 40px;
}

.sns-content a {
  font-size: 100px;
  text-decoration: none;
}

.sns-content h2 {
  padding: 10px 0;
  font-size: 20px;
}

.topix {
  background-color: rgb(240, 240, 240);
  padding-bottom: 30px;
}

.topix-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topix-left {
  width: 400px;
  text-align: center;
  line-height: 20px;
  padding: 0 20px;
}

.topix-left p {
  font-size: 10px;
  text-align: left;
}

.topix-left h2 {
  padding: 10px 0;
}

.topix-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.fa-envelope {
  color: black;
}

.fa-twitter {
  color: rgb(0, 102, 255);
}

.fa-instagram {
  color: deeppink;
}

footer {
  text-align: center;
  color: white;
  background-color: rgb(71, 71, 71);
  height: 60px;
  font-size: 14px;
}

footer h1 {
  padding-top: 20px;
}
